<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ path('homepage') }}">DE TOUT</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav mr-auto">
                    {% if app.user %}
					    <a class="nav-link active" href="{{ path('produit_new') }}">Ajouter Article</a>
					    <a class="nav-link active" href="{{ path('categorie_new') }}">Ajouter Catégorie</a>
                    {% endif %}
				</div>
				<div class="navbar-nav">
                    {# <form class="form-inline ml-auto">
                        <input class="form-control mr-sm-2" type="text" placeholder="Rechercher" aria-label="Rechercher">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
                    </form> #}

                    {% if app.user is null %}
                        <a class="btn btn-success" href="{{ path('login') }}">Se connecter<a>
                    {# {% else %}
                        <a class="btn btn-success" href="{{ path('logout') }}">Déconnexion<a> #}
                    {% endif %}

					<a class="btn btn-warning panier-nav-bar" href="{{ path('panier_index') }}">
						&nbsp;&nbsp;<i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;Panier : <span class="panier-longueur">{{panierLongueur}}</span>
					</a>
				</div>
			</div>
		</nav>
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
