{% extends 'base.html.twig' %}

{% block body %}
    <h1>Création d'un utilisateur</h1>

    {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword) }}

        <button class="btn btn-outline-success" type="submit">S'enregister</button>
    {{ form_end(form) }}

    {# <ul>
        <li>
            <a href="{{ path('user_index') }}">Back to the list</a>
        </li>
    </ul> #}
{% endblock %}
