{% extends 'base.html.twig' %}

{% block body %}
<div class="row mt-3 mb-4">
    <div class="col-md-4">
        <img src="{{ asset('uploads/img/' ~ produit.image) }}" alt="{{ produit.nom }}" class="img-fluid">
    </div>
    <div class="col-md-8">
        <h1 class="mt-4 mt-md-0">{{ produit.nom }}</h1>
        <h2>{{ produit.prix }} €</h2>
        <hr>
        <b>Description: </b>{{ produit.description }}
        <div class="form-group">
            {% if app.user %}
                <a class="btn btn-outline-secondary" href="{{ path('produit_edit', { 'id': produit.id }) }}">
                    <i class="fa fa-pencil-square-o"></i> Modifier
                </a>
            {% endif %}
            <a href="{{ path('panier_add', {'id': produit.id}) }}" class="btn btn-outline-warning">
                <i class="fa fa-shopping-cart"></i> Ajouter au panier
            </a>
        </div>
    </div>
</div>
{% endblock %}
