{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lignepanier</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lignePanier.id }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ lignePanier.quantite }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lignepanier_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('lignepanier_edit', { 'id': lignePanier.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
